*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    transition: 0.4s;
}
h2{
    padding-top: 20px;
    font-size: 28px;
    text-align: center;
}

.cars{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 420px;
    margin: 0 auto;
    
}
.cars > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 48%;
    border: 1px solid #4e4efc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 #999;
    color: #4e4efc;
    text-transform: capitalize;
}

button{
    position: relative;
    display: block;
    width: 70px;
    height: 30px;
    margin: 10px auto 20px;
    border: 1px solid #4e4efc;
    border-radius: 15px;
    background-color: #fafafa;
    cursor: pointer;
}
button::before{
    position: absolute;
    content: '';
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #4e4efc;
    transform: translateY(-50%);
    left: 2%;
    border-radius: 50%;
    animation-name: moveToggleLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

img{
    width: 80px;
    height: 80px;
}

.dark-mode{
    background-color: #1d1d1d;
    color: #fff;
    
}
.dark-mode button{
    border-color: #8080fd;
    background-color: transparent;
}
.dark-mode button::before{
    background-color: #8080fd;
    animation-name: moveToggleRight;
}
@keyframes moveToggleRight {
    0%{
        left: 2%;
    }
    100%{
        left: 68%;
    }
}
@keyframes moveToggleLeft {
    0%{
        left: 68%;
    }
    100%{
        left: 2%;
    }
}


.dark-mode .cars > div {
    background-color: transparent;
    color: #fff;
    border-color: #8080fd;
    box-shadow: 0 0 4px 0 #fafafa;
}



